name: Paper generation

on:
  push:
    paths:
      - 'paper/**'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build JOSS paper
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          paper-path: paper/paper.md

      - name: Upload paper artifact
        uses: actions/upload-artifact@v4
        with:
          name: paper
          path: paper/paper.pdf
